---
layout: default.hbs
subject: Wiosenne przesilenie czy zasilenie? NOWA ODSŁONA ZASILACZY!
---
<span class="preheader">Wiosenne przesilenie czy zasilenie? NOWA ODSŁONA ZASILACZY!</span>
<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <a href="http://www.tayama.pl" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/nowe_logo.png" width="474">
                        </a>

                        {{> divider }}

                        <a href="http://www.tayama.pl" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/tytul_zasilacze.jpg" width="474">
                        </a>


                        <!-- zasilacze impulsowe, nascienne, deszczoodporne -->
                        <h2 class="align-center">I. Zasilacze impulsowe, naścienne, deszczoodporne</h2>
                        <a href="http://sklep.tayama.pl/oferta-handlowa,39?search=Z-0406023%2c+Z-0408023%2c+Z-0412023%2c+Z-0412033" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/zasilacze_deszczoodporne.jpg" width="474">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper-with10padding">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0" class="normal-table smaller-text">
                            <tr>
                                <td align="left">Model</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="left">Napięcie wejściowe</td>
                                <td align="center" colspan="4">AC 180 - 250 V / 50 Hz</td>
                            </tr>
                            <tr>
                                <td align="left">Napięcie wyjściowe</td>
                                <td align="center" colspan="3">Z-0406023</td>
                                <td align="center"><strong>DC 24 V</strong></td>
                            </tr>
                            <tr>
                                <td align="left">Maksymalny prąd obciążenia</td>
                                <td align="center">5 A / 60 W</td>
                                <td align="center">6.6 A / 80 W</td>
                                <td align="center">10 A / 120 W</td>
                                <td align="center">5 A / 120 W</td>
                            </tr>
                            <tr>
                                <td align="left">Ilość wyjść</td>
                                <td align="center" colspan="4">1</td>
                            </tr>
                            <tr>
                                <td align="left">SCP</td>
                                <td align="center" colspan="4">tak</td>
                            </tr>
                            <tr>
                                <td align="left">OLP</td>
                                <td align="center" colspan="4">tak</td>
                            </tr>
                            <tr>
                                <td align="left">OVP</td>
                                <td align="center" colspan="4">tak</td>
                            </tr>
                            <tr>
                                <td align="left">Klasa IP</td>
                                <td align="center" colspan="4">IP44</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> button align="center" type='primary' url='http://sklep.tayama.pl/oferta-handlowa,39?search=Z-0406023%2c+Z-0408023%2c+Z-0412023%2c+Z-0412033' title='ZOBACZ WIĘCEJ...' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> divider }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <h2 class="align-center">II. Zasilacz impulsowy, przemysłowy Ultraslim 12V</h2>
                        <a href="http://sklep.tayama.pl/zasilacz-impulsowy-przemyslowy-ultraslim-12v-20-8,25,11486,9476" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/zasilacze_Z-0325023.jpg" width="474">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper-with10padding">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0" class="normal-table smaller-text">
                            <tr>
                                <td align="left">Model</td>
                                <td align="center">Z-0325023</td>
                            </tr>
                            <tr>
                                <td align="left">Napięcie wejściowe</td>
                                <td align="center">AC 180 - 250 V / 50 Hz</td>
                            </tr>
                            <tr>
                                <td align="left">Napięcie wyjściowe</td>
                                <td align="center">DC 12 V</td>
                            </tr>
                            <tr>
                                <td align="left">Przyłącza / gniazda</td>
                                <td align="center">1</td>
                            </tr>
                            <tr>
                                <td align="left">Ilość wyjść</td>
                                <td align="center">3</td>
                            </tr>
                            <tr>
                                <td align="left">Moc</td>
                                <td align="center">250 W</td>
                            </tr>
                            <tr>
                                <td align="left">Maksymalny prąd obciążenia</td>
                                <td align="center">20.8 A</td>
                            </tr>
                            <tr>
                                <td align="left">SCP</td>
                                <td align="center">tak</td>
                            </tr>
                            <tr>
                                <td align="left">OLP</td>
                                <td align="center">tak</td>
                            </tr>
                            <tr>
                                <td align="left">OVP</td>
                                <td align="center">tak</td>
                            </tr>
                            <tr>
                                <td align="left">Klasa IP</td>
                                <td align="center">IP 20</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> button align="center" type='primary' url='http://sklep.tayama.pl/zasilacz-impulsowy-przemyslowy-ultraslim-12v-20-8,25,11486,9476' title='ZOBACZ WIĘCEJ...' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> divider }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <h2 class="align-center">III. Zasilacze impulsowe przemysłowe SLIM 12V</h2>
                        <a href="http://sklep.tayama.pl/oferta-handlowa,39?search=Z-0320022%2c+Z-0325022" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/zasilacze_slim.jpg" width="474">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper-with10padding">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0" class="normal-table smaller-text">
                            <tr>
                                <td align="left">Model</td>
                                <td align="center">Z-0320022</td>
                                <td align="center">Z-0325022</td>
                            </tr>
                            <tr>
                                <td align="left">Napięcie wejściowe</td>
                                <td align="center" colspan="2">AC 180 - 250 V / 50 Hz</td>
                            </tr>
                            <tr>
                                <td align="left">Napięcie wyjściowe</td>
                                <td align="center" colspan="2">DC 12 V</td>
                            </tr>
                            <tr>
                                <td align="left">Ilość wyjść</td>
                                <td align="center" colspan="2">2</td>
                            </tr>
                            <tr>
                                <td align="left">Moc</td>
                                <td align="center">200 W</td>
                                <td align="center">250 W</td>
                            </tr>
                            <tr>
                                <td align="left">Maksymalny prąd obciążenia</td>
                                <td align="center">16.6 A</td>
                                <td align="center">21.5 A</td>
                            </tr>
                            <tr>
                                <td align="left">SCP</td>
                                <td align="center" colspan="2">nie</td>
                            </tr>
                            <tr>
                                <td align="left">OLP</td>
                                <td align="center" colspan="2">tak</td>
                            </tr>
                            <tr>
                                <td align="left">OVP</td>
                                <td align="center" colspan="2">tak</td>
                            </tr>
                            <tr>
                                <td align="left">Klasa IP</td>
                                <td align="center" colspan="2">IP 20</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> button align="center" type='primary' url='http://sklep.tayama.pl/oferta-handlowa,39?search=Z-0320022%2c+Z-0325022' title='ZOBACZ WIĘCEJ...' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> divider }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr class="pre-footer">
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0">
                            <tr>
                                <td>Bezpośredni kontakt</td>
                                <td><strong>Damian Fulara</strong></td>
                            </tr>
                            <tr>
                                <td>dotyczący oferty:</td>
                                <td>536 357 774</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>(32) 357 19 30</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>(32) 258 22 89 wew 42</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="mailto:damian.fulara@tayama.com.pl">damian.fulara@tayama.com.pl</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="http://www.tayama.pl" target="_blank">www.tayama.pl</a></td>
                            </tr>

                            <tr>
                                <td>Zapraszamy do naszej</td>
                                <td>TAYAMA spółka z ograniczoną</td>
                            </tr>
                            <tr>
                                <td>siedziby:</td>
                                <td>odpowiedzialnością sp. k.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>40-135 Katowice</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>ul. Słoneczna 4</strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
<div class="footer">
    <table>
        <tr>
            <td class="align-center">
                <p>Niniejsza oferta cenowa skierowana jest dla instalatorów i dystrybutorów</p>

                <p>Wszystkie wymienione ceny są cenami <strong>netto</strong>.</p>

                <p>Oferta ważna do 25 kwietnia 2018 lub do wyczerpania zapasów
                </p>

                <p>Otrzymałeś/aś tę wiadomość e-mail, ponieważ jesteś zapisany do newslettera Tayama. Jeśli nie chcesz już otrzymywać wiadomości tego typu, odpowiedz na tą wiadomość wpisując w temacie lub treści wiadomości <strong style="color: #999999; font-size: 12px;">"NIE WYSYŁAJ"</strong>.</p>
            </td>
        </tr>
    </table>
</div>
