---
layout: default.hbs
subject: Wiosenne przesilenie czy zasilenie? NOWA ODSŁONA ZASILACZY!
---
<span class="preheader">Wiosenne przesilenie czy zasilenie? NOWA ODSŁONA ZASILACZY!</span>
<table class="main">
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <a href="http://www.tayama.pl" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/nowe_logo.png" width="474">
                        </a>

                        {{> divider }}

                        <a href="http://www.tayama.pl" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/tytul_zasilacze.jpg" width="474">
                        </a>


                        <!-- zasilacze impulsowe, nascienne, deszczoodporne -->
                        <h2 class="align-center">I. Zasilacze impulsowe, naścienne, deszczoodporne</h2>
                        <a href="#" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/zasilacze_deszczoodporne.jpg" width="474">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper-withoutPadding">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0">
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                                <td align="center">Z-0408023</td>
                                <td align="center">Z-0412023</td>
                                <td align="center">Z-0412033</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> button align="center" type='primary' url='#' title='ZOBACZ WIĘCEJ...' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> divider }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <h2 class="align-center">II. Zasilacz impulsowy, przemysłowy Ultraslim 12V</h2>
                        <a href="#" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/zasilacze_Z-0325023.jpg" width="474">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper-withoutPadding">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0">
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> button align="center" type='primary' url='#' title='ZOBACZ WIĘCEJ...' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> divider }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <h2 class="align-center">III. Zasilacze impulsowe przemysłowe SLIM 12V</h2>
                        <a href="#" target="_blank">
                            <img src="../src/img/mailingKWIECIEN-2018/zasilacze_slim.jpg" width="474">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="wrapper-withoutPadding">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0">
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                            <tr>
                                <td align="center">Atrybut</td>
                                <td align="center">Z-0406023</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> button align="center" type='primary' url='#' title='ZOBACZ WIĘCEJ...' }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{> divider }}
                    </td>
                </tr>
            </table>
        </td>
    </tr>


    <tr class="pre-footer">
        <td class="wrapper">
            <table>
                <tr>
                    <td>
                        <table width="100%" cellpadding="5" cellspacing="0">
                            <tr>
                                <td>Bezpośredni kontakt</td>
                                <td><strong>Damian Fulara</strong></td>
                            </tr>
                            <tr>
                                <td>dotyczący oferty:</td>
                                <td>536 357 774</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>(32) 357 19 30</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>(32) 258 22 89 wew 42</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="mailto:damian.fulara@tayama.com.pl">damian.fulara@tayama.com.pl</a></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><a href="http://www.tayama.pl" target="_blank">www.tayama.pl</a></td>
                            </tr>

                            <tr>
                                <td>Zapraszamy do naszej</td>
                                <td>TAYAMA spółka z ograniczoną</td>
                            </tr>
                            <tr>
                                <td>siedziby:</td>
                                <td>odpowiedzialnością sp. k.</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>40-135 Katowice</strong></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>ul. Słoneczna 4</strong></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>
<div class="footer">
    <table>
        <tr>
            <td class="align-center">
                <p>Niniejsza oferta cenowa skierowana jest dla instalatorów i dystrybutorów</p>

                <p>Wszystkie wymienione ceny są cenami <strong>netto</strong>.</p>

                <p>Oferta ważna do 09 lutego 2018 lub do wyczerpania zapasów
                </p>

                <p>Otrzymałeś/aś tę wiadomość e-mail, ponieważ jesteś zapisany do newslettera Tayama. Jeśli nie chcesz już otrzymywać wiadomości tego typu, odpowiedz na tą wiadomość wpisując w temacie lub treści wiadomości <strong style="color: #999999; font-size: 12px;">"NIE WYSYŁAJ"</strong>.</p>
            </td>
        </tr>
    </table>
</div>
